<template>
  <div class="app-container">
    <el-card>
      <div class="filter-container " style="">
        <el-input
          v-model="listQuery.label"
          placeholder="Label"
          style="width: 200px;"
          class="filter-item"
          @keyup.enter.native="getCategories"
        />
        <el-button
          class="filter-item"
          style="margin-left: 10px;"
          type="primary"
          icon="el-icon-search"
          circle
          @click="getCategories"
        />
        <el-button
          class="filter-item"
          style="margin-left: 10px;float:right"
          type="primary"
          icon="el-icon-plus"
          round
          @click="handleAdd"
        >
          Add
        </el-button>
      </div>

      <el-table
        v-loading="listLoading"
        class="table-border"
        :data="categories"
        border
        fit
        highlight-current-row
        style="width: 100%;"
      >
        <el-table-column label="Label" align="center">
          <template slot-scope="{ row }">
            <span>{{ row.label }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Created Date" align="center">
          <template slot-scope="{ row }">
            <i class="el-icon-time" />
            <span>{{ row.dateCreated }}</span>
          </template>
        </el-table-column>

        <el-table-column
          label=""
          align="center"
          width="230"
          class-name="small-padding fixed-width"
        >
          <template slot-scope="{ row }">
            <el-tooltip content="Edit" placement="top">
              <el-button
                type="primary"
                class="m-1"
                circle
                @click="handleEdit(row.id)"
              >
                <i class="el-icon-edit" />
              </el-button>
            </el-tooltip>
            <el-tooltip content="Delete" placement="top">
              <el-button
                class="m-1"
                type="danger"
                circle
                @click="handleDelete(row.id)"
              >
                <i class="el-icon-delete" />
              </el-button>
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>
      <pagination
        v-show="totalCount > 0"
        :total="totalCount"
        :page.sync="listQuery.page"
        :limit.sync="listQuery.limit"
        @pagination="getCategories"
      />
    </el-card>

    <el-dialog
      :title="textMap[dialogStatus] + ' Parcel'"
      :visible.sync="dialogFormVisible"
    >
      <el-form
        ref="addForm"
        :rules="rules"
        :model="data"
        label-position="right"
        label-width="200px"
      >
        <el-form-item label="Label" prop="label">
          <el-input
            v-model="data.label"
            placeholder="Label"
            maxlength="256"
            show-word-limit
          />
        </el-form-item>

        <el-form-item label="Description">
          <el-input
            v-model="data.description"
            type="textarea"
            maxlength="1024"
            show-word-limit
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button
          type="primary"
          :loading="loading"
          @click="dialogStatus === 'create' ? addCategory() : editCategory()"
        >
          Confirm
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  addCategory,
  getCategory,
  editCategory,
  deleteCategory,
  getCategories
} from '@/api/category'
import checkPermission from '@/utils/permission'
import permission from '@/directive/permission/index.js'
import role from '@/directive/role/index.js'
import Pagination from '@/components/Pagination'
export default {
  name: 'Users',
  components: { Pagination },
  directives: { permission, role },
  data() {
    return {
      loading: false,

      listLoading: false,

      categories: null,
      totalCount: 0,
      dialogStatus: '',
      dialogFormVisible: false,
      dialogDeleteAlertVisible: false,
      listQuery: {
        page: 1,
        limit: 10,
        title: ''
      },
      data: {
        id: undefined,
        label: '',
        description: ''
      },
      rules: {
        label: [
          { required: true, message: 'Label is required', trigger: 'change' }
        ]
      },
      textMap: {
        edit: 'Edit',
        create: 'Create',
        delete: 'Delete'
      }
    }
  },
  created() {
    this.getCategories()
  },
  methods: {
    checkPermission,

    getCategories() {
      this.listLoading = true
      getCategories(this.listQuery).then(response => {
        this.categories = response.items
        this.totalCount = response.totalCount
        this.listLoading = false
      })
    },

    resetData() {
      this.data = {
        id: undefined,
        label: '',
        description: ''
      }
    },
    handleAdd() {
      this.loading = false
      this.resetData()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['addForm'].clearValidate()
      })
    },

    handleEdit(id) {
      this.loading = false
      this.resetData()
      this.dialogStatus = 'edit'
      this.dialogFormVisible = true

      this.$nextTick(() => {
        this.$refs['addForm'].clearValidate()
        getCategory(id).then(response => {
          this.data = {
            id: response.id,
            label: response.label,
            description: response.description
          }
        })
      })
    },
    handleDelete(id) {
      this.$confirm(
        'This will permanently delete the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }
      )
        .then(() => {
          deleteCategory(id).then(response => {
            this.getCategories()
            this.$notify({
              title: 'Success',
              message: 'Deleted Successfully',
              type: 'success',
              duration: 2000
            })
          })
        })
        .catch(() => {
          this.$notify({
            title: 'Info',
            message: 'Delete canceled',
            type: 'info',
            duration: 2000
          })
        })
    },
    addCategory() {
      this.loading = true
      this.$refs['addForm'].validate(valid => {
        if (valid) {
          addCategory(this.data)
            .then(response => {
              this.getCategories()
              this.dialogFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Created Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    },
    editCategory() {
      this.loading = true
      this.$refs['addForm'].validate(valid => {
        if (valid) {
          editCategory(this.data)
            .then(response => {
              this.getCategories()
              this.dialogFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Created Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    }
  }
}
</script>
