<template>
  <div class="app-container">
    <el-card>
      <div class="filter-container ">
        <el-button
          class="filter-item"
          style="margin-left: 10px; float:right;"
          type="primary"
          icon="el-icon-plus"
          round
          @click="handleAdd"
        >
          Add
        </el-button>
      </div>

      <el-table
        v-loading="listLoading"
        class="table-border"
        :data="currencies"
        border
        fit
        highlight-current-row
        style="width: 100%;"
      >
        <el-table-column label="Label" align="center">
          <template slot-scope="{ row }">
            <span>{{ row.label }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Created Date" align="center">
          <template slot-scope="{ row }">
            <i class="el-icon-time" />
            <span>{{ row.dateCreated }}</span>
          </template>
        </el-table-column>

        <el-table-column
          label=""
          align="center"
          width="230"
          class-name="small-padding fixed-width"
        >
          <template slot-scope="{ row }">
            <el-tooltip content="Edit" placement="top">
              <el-button
                type="primary"
                class="m-1"
                circle
                @click="handleEdit(row.id)"
              >
                <i class="el-icon-edit" />
              </el-button>
            </el-tooltip>
            <el-tooltip content="Delete" placement="top">
              <el-button
                class="m-1"
                type="danger"
                circle
                @click="handleDelete(row.id)"
              >
                <i class="el-icon-delete" />
              </el-button>
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <el-dialog
      :title="textMap[dialogStatus] + ' Parcel'"
      :visible.sync="dialogFormVisible"
    >
      <el-form
        ref="addForm"
        :rules="rules"
        :model="data"
        label-position="right"
        label-width="200px"
      >
        <el-form-item label="Label" prop="label">
          <el-input
            v-model="data.label"
            placeholder="Label"
            maxlength="256"
            show-word-limit
          />
        </el-form-item>

        <el-form-item label="Description">
          <el-input
            v-model="data.description"
            type="textarea"
            maxlength="1024"
            show-word-limit
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button
          type="primary"
          :loading="loading"
          @click="dialogStatus === 'create' ? addCurrency() : editCurrency()"
        >
          Confirm
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  addCurrency,
  getCurrency,
  editCurrency,
  deleteCurrency,
  getCurrencies
} from '@/api/currency'
import checkPermission from '@/utils/permission'
import permission from '@/directive/permission/index.js'
import role from '@/directive/role/index.js'
export default {
  name: 'Users',
  directives: { permission, role },
  data() {
    return {
      loading: false,

      listLoading: false,

      currencies: null,
      dialogStatus: '',
      dialogFormVisible: false,
      dialogDeleteAlertVisible: false,

      data: {
        id: undefined,
        label: '',
        description: ''
      },
      rules: {
        label: [
          { required: true, message: 'Label is required', trigger: 'change' }
        ]
      },
      textMap: {
        edit: 'Edit',
        create: 'Create',
        delete: 'Delete'
      }
    }
  },
  created() {
    this.getCurrencies()
  },
  methods: {
    checkPermission,

    getCurrencies() {
      this.listLoading = true
      getCurrencies().then(response => {
        this.currencies = response
        this.listLoading = false
      })
    },

    resetData() {
      this.data = {
        id: undefined,
        label: '',
        description: ''
      }
    },
    handleAdd() {
      this.loading = false
      this.resetData()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['addForm'].clearValidate()
      })
    },

    handleEdit(id) {
      this.loading = false
      this.resetData()
      this.dialogStatus = 'edit'
      this.dialogFormVisible = true

      this.$nextTick(() => {
        this.$refs['addForm'].clearValidate()
        getCurrency(id).then(response => {
          this.data = {
            id: response.id,
            label: response.label,
            description: response.description
          }
        })
      })
    },
    handleDelete(id) {
      this.$confirm(
        'This will permanently delete the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }
      )
        .then(() => {
          deleteCurrency(id).then(response => {
            for (const v of this.currencies) {
              if (v.id === id) {
                const index = this.currencies.indexOf(v)
                this.currencies.splice(index, 1)
                break
              }
            }
            this.$notify({
              title: 'Success',
              message: 'Deleted Successfully',
              type: 'success',
              duration: 2000
            })
          })
        })
        .catch(() => {
          this.$notify({
            title: 'Info',
            message: 'Delete canceled',
            type: 'info',
            duration: 2000
          })
        })
    },
    addCurrency() {
      this.loading = true
      this.$refs['addForm'].validate(valid => {
        if (valid) {
          addCurrency(this.data)
            .then(response => {
              this.currencies.unshift(response)
              this.dialogFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Created Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    },
    editCurrency() {
      this.loading = true
      this.$refs['addForm'].validate(valid => {
        if (valid) {
          editCurrency(this.data)
            .then(response => {
              const data = response

              for (const v of this.currencies) {
                if (v.id === data.id) {
                  const index = this.currencies.indexOf(v)
                  this.currencies.splice(index, 1, data)
                  break
                }
              }

              this.dialogFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Created Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    }
  }
}
</script>
