<template>
  <div class="app-container">
    <el-card>
      <div class="filter-container ">
        <el-button
          class="filter-item"
          style="margin-left: 10px; float:right;"
          type="primary"
          icon="el-icon-plus"
          round
          @click="handleAdd"
        >
          Add
        </el-button>
      </div>

      <el-table
        v-loading="listLoading"
        class="table-border"
        :data="stores"
        border
        fit
        highlight-current-row
        style="width: 100%;"
      >
        <el-table-column label="Country" align="center">
          <template slot-scope="{ row }">
            <span>{{ row.country }}</span>
          </template>
        </el-table-column>
        <el-table-column label="City" align="center">
          <template slot-scope="{ row }">
            <span>{{ row.city }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Adress" align="center">
          <template slot-scope="{ row }">
            <span>{{ row.adress }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Phone Number" align="center">
          <template slot-scope="{ row }">
            <span>{{ row.phoneNumber }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Zip Code" align="center">
          <template slot-scope="{ row }">
            <span>{{ row.zipCode }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Created Date" align="center">
          <template slot-scope="{ row }">
            <i class="el-icon-time" />
            <span>{{ row.dateCreated }}</span>
          </template>
        </el-table-column>

        <el-table-column
          label=""
          align="center"
          width="230"
          class-name="small-padding fixed-width"
        >
          <template slot-scope="{ row }">
            <el-tooltip content="Edit" placement="top">
              <el-button
                type="primary"
                class="m-1"
                circle
                @click="handleEdit(row.id)"
              >
                <i class="el-icon-edit" />
              </el-button>
            </el-tooltip>
            <el-tooltip content="Delete" placement="top">
              <el-button
                class="m-1"
                type="danger"
                circle
                @click="handleDelete(row.id)"
              >
                <i class="el-icon-delete" />
              </el-button>
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <el-dialog
      :title="textMap[dialogStatus] + ' Parcel'"
      :visible.sync="dialogFormVisible"
    >
      <el-form
        ref="addForm"
        :rules="rules"
        :model="data"
        label-position="right"
        label-width="200px"
      >
        <el-form-item label="Country" prop="country">
          <el-input
            v-model="data.country"
            placeholder="Country"
            maxlength="256"
            show-word-limit
          />
        </el-form-item>
        <el-form-item label="City" prop="city">
          <el-input
            v-model="data.city"
            placeholder="City"
            maxlength="256"
            show-word-limit
          />
        </el-form-item>
        <el-form-item label="Adress" prop="adress">
          <el-input
            v-model="data.adress"
            placeholder="Adress"
            maxlength="512"
            show-word-limit
          />
        </el-form-item>
        <el-form-item label="Phone Number" prop="phoneNumber">
          <el-input
            v-model="data.phoneNumber"
            placeholder="Phone Number"
            maxlength="32"
            show-word-limit
          />
        </el-form-item>
        <el-form-item label="Zip Code" prop="zipCode">
          <el-input
            v-model="data.zipCode"
            placeholder="Zip Code"
            maxlength="32"
            show-word-limit
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button
          type="primary"
          :loading="loading"
          @click="dialogStatus === 'create' ? addStore() : editStore()"
        >
          Confirm
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  addStore,
  getStore,
  editStore,
  deleteStore,
  getStores
} from '@/api/store'
import checkPermission from '@/utils/permission'
import permission from '@/directive/permission/index.js'
import role from '@/directive/role/index.js'
export default {
  name: 'Users',
  directives: { permission, role },
  data() {
    return {
      loading: false,

      listLoading: false,

      stores: null,
      dialogStatus: '',
      dialogFormVisible: false,
      dialogDeleteAlertVisible: false,

      data: {
        id: undefined,
        country: '',
        city: '',
        adress: '',
        phoneNumber: '',
        zipCode: ''
      },
      rules: {
        country: [
          { required: true, message: 'Country is required', trigger: 'change' }
        ],
        city: [
          { required: true, message: 'City is required', trigger: 'change' }
        ],
        adress: [
          { required: true, message: 'Adress is required', trigger: 'change' }
        ],
        phoneNumber: [
          {
            required: true,
            message: 'Phone Number is required',
            trigger: 'change'
          }
        ],
        zipCode: [
          { required: true, message: 'Zip Code is required', trigger: 'change' }
        ]
      },
      textMap: {
        edit: 'Edit',
        create: 'Create',
        delete: 'Delete'
      }
    }
  },
  created() {
    this.getStores()
  },
  methods: {
    checkPermission,

    getStores() {
      this.listLoading = true
      getStores().then(response => {
        this.stores = response
        this.listLoading = false
      })
    },

    resetData() {
      this.data = {
        id: undefined,
        country: '',
        city: '',
        adress: '',
        phoneNumber: '',
        zipCode: ''
      }
    },
    handleAdd() {
      this.loading = false
      this.resetData()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['addForm'].clearValidate()
      })
    },

    handleEdit(id) {
      this.loading = false
      this.resetData()
      this.dialogStatus = 'edit'
      this.dialogFormVisible = true

      this.$nextTick(() => {
        this.$refs['addForm'].clearValidate()
        getStore(id).then(response => {
          this.data = {
            id: response.id,
            country: response.country,
            city: response.city,
            adress: response.adress,
            phoneNumber: response.phoneNumber,
            zipCode: response.zipCode
          }
        })
      })
    },
    handleDelete(id) {
      this.$confirm(
        'This will permanently delete the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }
      )
        .then(() => {
          deleteStore(id).then(response => {
            for (const v of this.stores) {
              if (v.id === id) {
                const index = this.stores.indexOf(v)
                this.stores.splice(index, 1)
                break
              }
            }
            this.$notify({
              title: 'Success',
              message: 'Deleted Successfully',
              type: 'success',
              duration: 2000
            })
          })
        })
        .catch(() => {
          this.$notify({
            title: 'Info',
            message: 'Delete canceled',
            type: 'info',
            duration: 2000
          })
        })
    },
    addStore() {
      this.loading = true
      this.$refs['addForm'].validate(valid => {
        if (valid) {
          addStore(this.data)
            .then(response => {
              this.stores.unshift(response)
              this.dialogFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Created Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    },
    editStore() {
      this.loading = true
      this.$refs['addForm'].validate(valid => {
        if (valid) {
          editStore(this.data)
            .then(response => {
              const data = response

              for (const v of this.stores) {
                if (v.id === data.id) {
                  const index = this.stores.indexOf(v)
                  this.stores.splice(index, 1, data)
                  break
                }
              }

              this.dialogFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Created Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    }
  }
}
</script>
