<template>
  <el-form :model="data">
    <el-row v-if="isDataExist" :gutter="20">
      <el-col :span="12" :xs="24">
        <el-form-item label="Name" prop="name">
          <el-input v-model="data.name" disabled />
        </el-form-item>
      </el-col>
      <el-col :span="12" :xs="24">
        <el-form-item label="Surname" prop="surname">
          <el-input v-model="data.surname" disabled />
        </el-form-item>
      </el-col>
      <el-col :span="12" :xs="24">
        <el-form-item label="Birthday" prop="birthday">
          <el-date-picker
            v-model="data.birthday"
            format="dd.MM.yyyy"
            value-format="dd/MM/yyyy"
            type="date"
            placeholder="Pick a day"
            style="width:100%"
            disabled
          />
        </el-form-item>
      </el-col>
      <el-col :span="12" :xs="24">
        <el-form-item label="Phone Number" prop="phoneNumber">
          <el-input v-model="data.phoneNumber" disabled />
        </el-form-item>
      </el-col>
      <el-col :span="12" :xs="24">
        <el-form-item label="FIN" prop="finNumber">
          <el-input v-model="data.finNumber" disabled />
        </el-form-item>
      </el-col>
      <el-col :span="12" :xs="24">
        <el-form-item label="ID card number" prop="identificationNumber">
          <el-input v-model="data.identificationNumber" disabled />
        </el-form-item>
      </el-col>
      <el-col :span="12" :xs="24">
        <el-form-item label="Gender" prop="gender">
          <el-select
            v-model="data.gender"
            placeholder="Gender"
            style="width:100%"
            disabled
          >
            <el-option :key="1" label="Male" :value="1" />
            <el-option :key="2" label="Female" :value="2" />
            <el-option :key="3" label="Other" :value="3" />
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="24" :xs="24">
        <el-form-item label="Adress" prop="adress">
          <el-input v-model="data.adress" type="textarea" :rows="2" disabled />
        </el-form-item>
      </el-col>
    </el-row>
    <el-row v-else :gutter="20">
      <el-col :span="24" :xs="24">
        <el-alert
          title="User doesn't enter detail information yet!"
          type="warning"
          :closable="false"
          show-icon
        />
      </el-col>
    </el-row>
  </el-form>
</template>

<script>
import { getDetail } from '@/api/user'
export default {
  name: 'UserDetail',
  props: {
    userId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      loading: false,
      isDataExist: false,
      data: {
        name: '',
        surname: '',
        phoneNumber: '',
        finNumber: '',
        identificationNumber: '',
        birthday: '',
        gender: null,
        adress: ''
      }
    }
  },
  mounted() {
    this.getDetail()
  },
  methods: {
    getDetail() {
      getDetail(this.userId).then(response => {
        if (response) {
          this.data.name = response.name
          this.data.surname = response.surname
          this.data.phoneNumber = response.phoneNumber
          this.data.finNumber = response.finNumber
          this.data.identificationNumber = response.identificationNumber
          this.data.birthday = response.birthday
          this.data.gender = response.gender
          this.data.adress = response.adress
          this.isDataExist = true
        } else this.isDataExist = false
      })
    }
  }
}
</script>
