<template>
  <div class="app-container">
    <el-card>
      <div class="filter-container " style="float:right">
        <el-button
          v-permission="['role_add']"
          class="filter-item"
          style="margin-left: 10px;"
          type="primary"
          icon="el-icon-plus"
          round
          @click="handleAdd"
        >
          Add
        </el-button>
      </div>

      <el-table
        v-permission="['role_list']"
        v-loading="listLoading"
        class="table-border"
        :data="roles"
        border
        fit
        highlight-current-row
        style="width: 100%;"
      >
        <el-table-column label="Name" align="center">
          <template slot-scope="{ row }">
            <span>{{ row.name }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Permissions" align="center">
          <template slot-scope="{ row }">
            <span
              v-if="row.permissions && row.permissions.length > 0"
              class="link-type"
              @click="handleGetPermissions(row.id)"
            >{{ row.permissions.length }}</span>
            <span v-else>-</span>
          </template>
        </el-table-column>
        <el-table-column label="Created Date" align="center">
          <template slot-scope="{ row }">
            <i class="el-icon-time" />
            <span>{{ row.dateCreated }}</span>
          </template>
        </el-table-column>

        <el-table-column
          v-if="checkPermission(['role_add', 'role_edit', 'role_delete'])"
          label=""
          align="center"
          width="230"
          class-name="small-padding fixed-width"
        >
          <template v-if="row.isEditable" slot-scope="{ row }">
            <el-tooltip content="Edit" placement="top">
              <el-button
                v-permission="['role_edit']"
                type="primary"
                class="m-1"
                circle
                @click="handleEdit(row.id)"
              >
                <i class="el-icon-edit" />
              </el-button>
            </el-tooltip>
            <el-tooltip content="Delete" placement="top">
              <el-button
                v-permission="['role_delete']"
                type="danger"
                class="m-1"
                circle
                @click="handleDelete(row.id)"
              >
                <i class="el-icon-delete" />
              </el-button>
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <el-dialog
      :visible.sync="dialogPermissionsVisible"
      title="Permissions"
      width="25%"
    >
      <el-table
        :data="rolePermissionsDatas"
        fit
        highlight-current-row
        style="width: 100%"
      >
        <el-table-column
          prop="Permission"
          label="Permission"
          align="center"
          :formatter="permissionNameFormatter"
        />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button
          type="primary"
          @click="dialogPermissionsVisible = false"
        >Close</el-button>
      </span>
    </el-dialog>

    <el-dialog
      :title="textMap[dialogStatus] + ' Role'"
      :visible.sync="dialogFormVisible"
    >
      <el-form
        ref="addForm"
        :rules="rules"
        :model="data"
        label-position="right"
        label-width="200px"
      >
        <el-form-item label="Name" prop="name">
          <el-input v-model="data.name" placeholder="Name" />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="permissionTree"
            node-key="id"
            highlight-current
            :check-strictly="checkStrictly"
            :data="permissionCategories"
            :props="defaultProps"
            show-checkbox
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button
          type="primary"
          :loading="loading"
          @click="dialogStatus === 'create' ? addData() : editData()"
        >
          Confirm
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { _ } from 'vue-underscore'
import { getPermissions } from '@/api/permission'
import { addRole, getRole, editRole, deleteRole, getRoles } from '@/api/role'
import permission from '@/directive/permission/index.js'
import role from '@/directive/role/index.js'
import checkPermission from '@/utils/permission'
export default {
  name: 'Users',
  directives: { permission, role },
  data() {
    return {
      loading: false,
      permissionCategories: [],
      defaultProps: {
        children: 'children',
        label: 'label'
      },
      checkStrictly: false,
      listLoading: false,
      roles: null,
      roleDatas: null,
      rolePermissionsDatas: null,
      permissionsList: null,

      dialogPermissionsVisible: false,

      dialogStatus: '',
      dialogFormVisible: false,
      dialogDeleteAlertVisible: false,

      data: {
        id: undefined,
        name: '',
        permissions: [],
        weight: 0
      },
      rules: {
        name: [
          { required: true, message: 'name is required', trigger: 'change' }
        ],
        weight: [
          {
            required: true,
            message: 'Weight field is required',
            trigger: 'change'
          }
        ]
      },
      textMap: {
        edit: 'Edit',
        create: 'Create',
        delete: 'Delete'
      }
    }
  },
  created() {
    this.getRoles()
    this.getPermissions()
  },
  methods: {
    checkPermission,
    getTreeCheckedNodes() {
      return this.$refs.permissionTree.getCheckedKeys()
    },
    setTreeCheckedNodes(arr) {
      this.$refs.permissionTree.setCheckedKeys(arr)
    },
    resetTreeChecked() {
      this.$refs.permissionTree.setCheckedKeys([])
    },

    permissionNameFormatter(row, column) {
      return row.category.label + ' ' + row.permission.label
    },
    getRoles() {
      this.listLoading = true
      getRoles().then(response => {
        this.roles = response
        this.listLoading = false
      })
    },
    handleGetPermissions(roleId) {
      const permissions = this.roles
        .find(role => role.id === roleId)
        .permissions.map(c => {
          return c
        })
      this.rolePermissionsDatas = permissions

      this.dialogPermissionsVisible = true
    },
    getPermissions() {
      getPermissions().then(response => {
        const data = []
        const groupByCategoryName = _.groupBy(response, function(item) {
          return item.category.label
        })
        _.each(groupByCategoryName, (item, key) => {
          const children = item.map(c => {
            return { id: c.relationId, label: c.permission.label }
          })
          data.push({
            label: key,
            children
          })
        })
        this.permissionCategories = data
      })
    },

    resetData() {
      if (this.$refs.permissionTree) {
        this.resetTreeChecked()
      }
      this.data = {
        id: undefined,
        name: '',
        permissions: []
      }
    },
    handleAdd() {
      this.loading = false
      this.resetData()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['addForm'].clearValidate()
      })
    },

    handleEdit(id) {
      this.loading = false
      this.resetData()
      this.dialogStatus = 'edit'

      getRole(id).then(response => {
        this.data = {
          id: response.id,
          name: response.name
        }
        const checkedPermissions = response.permissions.map(x => {
          return x.relationId
        })

        this.$nextTick(() => {
          this.$refs['addForm'].clearValidate()
          this.setTreeCheckedNodes(checkedPermissions)
        })

        this.dialogFormVisible = true
      })
    },
    handleDelete(id) {
      this.$confirm(
        'This will permanently delete the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }
      )
        .then(() => {
          deleteRole(id).then(response => {
            for (const v of this.roles) {
              if (v.id === id) {
                const index = this.roles.indexOf(v)
                this.roles.splice(index, 1)
                break
              }
            }
            this.$notify({
              title: 'Success',
              message: 'Deleted Successfully',
              type: 'success',
              duration: 2000
            })
          })
        })
        .catch(() => {
          this.$notify({
            title: 'Info',
            message: 'Delete canceled',
            type: 'info',
            duration: 2000
          })
        })
    },
    addData() {
      this.loading = true
      this.$refs['addForm'].validate(valid => {
        if (valid) {
          const checkedKeys = this.getTreeCheckedNodes().filter(
            c => !_.isUndefined(c)
          )
          this.data.permissionCategories = checkedKeys
          addRole(this.data)
            .then(response => {
              this.roles.unshift(response)
              this.dialogFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Created Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    },
    editData() {
      this.loading = true
      this.$refs['addForm'].validate(valid => {
        if (valid) {
          const checkedKeys = this.getTreeCheckedNodes().filter(
            c => !_.isUndefined(c)
          )
          this.data.permissionCategories = checkedKeys
          editRole(this.data)
            .then(response => {
              this.data = {
                id: response.id,
                name: response.name,
                permissions: response.permissions.map(x => x.id),
                dateCreated: response.dateCreated,
                isEditable: response.isEditable
              }
              for (const v of this.roles) {
                if (v.id === this.data.id) {
                  const index = this.roles.indexOf(v)
                  this.roles.splice(index, 1, this.data)
                  break
                }
              }

              this.dialogFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Created Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    }
  }
}
</script>
