<template>
  <div class="app-container">
    <el-card>
      <div class="filter-container" style="float:right">
        <el-button
          v-permission="['user_add', 'moderator']"
          class="filter-item"
          style="margin-left: 10px;"
          type="primary"
          icon="el-icon-plus"
          round
          @click="handleAdd"
        >Add</el-button>
      </div>

      <el-table
        v-permission="['user_list', 'moderator']"
        v-loading="listLoading"
        class="table-border"
        :data="users"
        border
        fit
        highlight-current-row
        style="width: 100%;"
      >
        <el-table-column label="Username" align="center">
          <template slot-scope="{ row }">
            <el-button type="text" @click="handleUserDetail(row.id)">{{
              row.userName
            }}</el-button>
          </template>
        </el-table-column>
        <el-table-column label="Email" align="center">
          <template slot-scope="{ row }">
            <span>{{ row.email }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Roles" align="center">
          <template slot-scope="{ row }">
            <span
              v-if="row.roles && row.roles.length > 0"
              class="link-type"
              @click="handleGetRoles(row.id)"
            >{{ row.roles.length }}</span>
            <span v-else>-</span>
          </template>
        </el-table-column>
        <el-table-column label="Directive Permissions" align="center">
          <template slot-scope="{ row }">
            <span
              v-if="
                row.directivePermissions && row.directivePermissions.length > 0
              "
              class="link-type"
              @click="handleGetPermissions(row.id)"
            >{{ row.directivePermissions.length }}</span>
            <span v-else>-</span>
          </template>
        </el-table-column>

        <el-table-column label="Created Date" align="center">
          <template slot-scope="{ row }">
            <i class="el-icon-time" />
            <span>{{ row.dateCreated }}</span>
          </template>
        </el-table-column>
        <el-table-column
          label
          align="center"
          width="230"
          class-name="small-padding fixed-width"
        >
          <template slot-scope="{ row }">
            <el-tooltip content="Edit" placement="top">
              <el-button
                v-permission="['user_edit', 'moderator']"
                type="primary"
                class="m-1"
                circle
                @click="handleEdit(row.id)"
              >
                <i class="el-icon-edit" />
              </el-button>
            </el-tooltip>
            <el-tooltip content="Change password" placement="top">
              <el-button
                v-permission="['user_edit', 'moderator']"
                type="warning"
                class="m-1"
                circle
                @click="handleChangePassword(row.id)"
              >
                <svg-icon icon-class="password" />
              </el-button>
            </el-tooltip>
            <el-tooltip content="Delete" placement="top">
              <el-button
                v-permission="['user_delete', 'moderator']"
                type="danger"
                class="m-1"
                circle
                @click="handleDelete(row.id)"
              >
                <i class="el-icon-delete" />
              </el-button>
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <el-dialog
      v-permission="['user_add', 'moderator']"
      :title="textMap[dialogStatus] + ' User'"
      :visible.sync="dialogFormVisible"
    >
      <el-form
        ref="addForm"
        :rules="rules"
        :model="addData"
        label-position="right"
        label-width="200px"
      >
        <el-form-item label="Username" prop="userName">
          <el-input v-model="addData.userName" placeholder="Username" />
        </el-form-item>
        <el-form-item label="Email" prop="email">
          <el-input v-model="addData.email" placeholder="Email" />
        </el-form-item>
        <el-form-item label="Password" prop="password">
          <el-input
            v-model="addData.password"
            placeholder="Password"
            type="password"
          />
        </el-form-item>
        <el-form-item label="Confirm Password" prop="confirmPassword">
          <el-input
            v-model="addData.confirmPassword"
            placeholder="Confirm Password"
            type="password"
          />
        </el-form-item>
        <el-form-item v-permission="['user_add']" label="Roles:">
          <el-select
            v-model="addData.roles"
            filterable
            multiple
            collapse-tags
            default-first-option
            placeholder="Roles"
            style="display:block;"
          >
            <el-option
              v-for="item in roles.options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          v-permission="['user_add']"
          label="Directive Permissions:"
        >
          <el-select
            v-model="addData.directivePermissions"
            filterable
            multiple
            collapse-tags
            default-first-option
            placeholder="Permissions"
            style="display:block;"
          >
            <el-option
              v-for="item in directivePermissions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button
          type="primary"
          :loading="loading"
          @click="addUser()"
        >Confirm</el-button>
      </div>
    </el-dialog>

    <el-dialog
      :title="textMap[dialogStatus] + ' User'"
      :visible.sync="dialogEditFormVisible"
    >
      <el-form
        ref="editForm"
        :model="editData"
        label-position="right"
        label-width="200px"
      >
        <el-form-item label="Roles:">
          <el-select
            v-model="editData.roles"
            filterable
            multiple
            collapse-tags
            default-first-option
            placeholder="Roles"
            style="display:block;"
          >
            <el-option
              v-for="item in roles.options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="Directive Permissions:">
          <el-select
            v-model="editData.directivePermissions"
            filterable
            multiple
            collapse-tags
            default-first-option
            placeholder="Permissions"
            style="display:block;"
          >
            <el-option
              v-for="item in directivePermissions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogEditFormVisible = false">Cancel</el-button>
        <el-button
          type="primary"
          :loading="loading"
          @click="editUser()"
        >Confirm</el-button>
      </div>
    </el-dialog>

    <el-dialog
      :title="'Change Password'"
      :visible.sync="dialogChangePasswordFormVisible"
    >
      <el-form
        ref="changeUserPasswordForm"
        :rules="rules"
        :model="changePasswordData"
        label-position="right"
        label-width="200px"
      >
        <el-form-item label="Old Password" prop="oldPassword">
          <el-input
            v-model="changePasswordData.oldPassword"
            placeholder="Old Password"
            type="password"
          />
        </el-form-item>
        <el-form-item label="New Password" prop="password">
          <el-input
            v-model="changePasswordData.password"
            placeholder="New Password"
            type="password"
          />
        </el-form-item>
        <el-form-item label="Confirm New Password" prop="confirmPassword">
          <el-input
            v-model="changePasswordData.confirmPassword"
            placeholder="Confirm New Password"
            type="password"
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button
          @click="dialogChangePasswordFormVisible = false"
        >Cancel</el-button>
        <el-button
          type="primary"
          :loading="loading"
          @click="changeUserPassword()"
        >Confirm</el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogRoleVisible" title="Roles" width="25%">
      <el-table
        :data="userRoleDialogData"
        fit
        highlight-current-row
        style="width: 100%"
      >
        <el-table-column prop="name" label="Name" align="center" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button
          type="primary"
          @click="dialogRoleVisible = false"
        >Close</el-button>
      </span>
    </el-dialog>

    <el-dialog
      :visible.sync="dialogPermissionsVisible"
      title="Permissions"
      width="25%"
    >
      <el-table
        :data="userDirectivePermissionDialogData"
        fit
        highlight-current-row
        style="width: 100%"
      >
        <el-table-column prop="label" label="Label" align="center" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button
          type="primary"
          @click="dialogPermissionsVisible = false"
        >Close</el-button>
      </span>
    </el-dialog>

    <el-dialog title="User Detail" :visible.sync="dialogUserDetailVisible">
      <div v-if="userDetailId && dialogUserDetailVisible" class="block">
        <userDetail :user-id="userDetailId" />
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogUserDetailVisible = false">
          Close
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getUsers,
  addUser,
  editUser,
  getUser,
  deleteUser,
  changePassword
} from '@/api/user'
import { getDirectivePermissions } from '@/api/permission'
import { getRoles } from '@/api/role'
import permission from '@/directive/permission/index.js'
import role from '@/directive/role/index.js'
import checkPermission from '@/utils/permission'
import { validPassword, validEmail } from '@/utils/validate'
import UserDetail from './components/userDetail'
export default {
  name: 'Users',
  components: { UserDetail },
  directives: { permission, role },
  data() {
    const validatePassword = (rule, value, callback) => {
      if (!validPassword(value)) {
        callback(new Error(rule.message))
      } else {
        callback()
      }
    }
    const validateEmail = (rule, value, callback) => {
      if (!validEmail(value)) {
        callback(new Error(rule.message))
      } else {
        callback()
      }
    }
    const confirmPassword = (rule, value, callback) => {
      if (!(this.changePasswordData.password === value)) {
        callback(new Error(rule.message))
      } else {
        callback()
      }
    }
    return {
      directivePermissions: [],
      roles: {
        options: []
      },
      listLoading: false,
      loading: false,
      users: null,
      userDetailId: null,
      userRoleDialogData: null,
      userDirectivePermissionDialogData: null,

      dialogRoleVisible: false,
      dialogUserDetailVisible: false,
      dialogPermissionsVisible: false,
      dialogChangePasswordFormVisible: false,
      dialogStatus: '',
      dialogFormVisible: false,
      dialogEditFormVisible: false,
      addData: {
        id: undefined,
        userName: '',
        email: '',
        password: '',
        confirmPassword: '',
        directivePermissions: [],
        roles: [],
        layers: [],
        isUserCreateLimitExist: false,
        userCreateLimit: 0
      },
      editData: {
        id: undefined,
        directivePermissions: [],
        roles: [],
        layers: [],
        isUserCreateLimitExist: false,
        userCreateLimit: 0
      },
      changePasswordData: {
        id: undefined,
        oldPassword: '',
        password: '',
        confirmPassword: ''
      },
      textMap: {
        edit: 'Edit',
        create: 'Create',
        delete: 'Delete'
      },
      rules: {
        userName: [
          {
            required: true,
            message: 'Username is required',
            trigger: 'change'
          },
          {
            required: true,
            pattern: /^(?!.*\.\.)(?!.*\.$)[^\W][\w.]{1,30}$/,
            message: 'Please enter valid format',
            trigger: 'blur'
          }
        ],
        email: [
          {
            required: true,
            message: 'Email is required',
            trigger: 'change'
          },
          {
            message: 'Please enter valid format',
            trigger: 'change',
            validator: validateEmail
          }
        ],
        password: [
          {
            required: true,
            message: 'Password is required',
            trigger: 'change'
          },

          {
            message: 'Enter Valid Format',
            trigger: 'change',
            validator: validatePassword
          }
        ],
        confirmPassword: [
          {
            required: true,
            message: 'Confirm Password is required',
            trigger: 'change'
          },
          {
            message: 'Enter Valid Format',
            trigger: 'change',
            validator: validatePassword
          },
          {
            message: 'Confirmed Password not equal to Password',
            trigger: 'change',
            validator: confirmPassword
          }
        ],
        oldPassword: [
          {
            required: true,
            message: 'Old Password is required',
            trigger: 'change'
          }
        ]
      }
    }
  },
  created() {
    this.getUsers()
    this.getDirectivePermissions()
    this.getRoles()
  },
  methods: {
    checkPermission,
    resetAddData() {
      this.addData = {
        id: undefined,
        userName: '',
        email: '',
        password: '',
        confirmPassword: '',
        directivePermissions: [],
        roles: []
      }
    },
    resetEditData() {
      this.addData = {
        id: undefined,
        directivePermissions: [],
        roles: [],
        layers: []
      }
    },
    resetChangePasswordTemp() {
      this.changePasswordData = {
        id: undefined,
        oldPassword: '',
        password: '',
        confirmPassword: ''
      }
    },
    getUsers() {
      this.listLoading = true
      getUsers().then(response => {
        this.users = response
        this.listLoading = false
      })
    },

    getDirectivePermissions() {
      getDirectivePermissions().then(response => {
        this.directivePermissions = response.map(x => ({
          value: x.label,
          label: x.label
        }))
      })
    },
    getRoles() {
      getRoles().then(response => {
        this.roles.options = response.map(x => ({
          value: x.id,
          label: x.name
        }))
      })
    },

    handleAdd() {
      this.loading = false
      this.resetAddData()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['addForm'].clearValidate()
      })
    },
    handleUserDetail(id) {
      this.userDetailId = id
      this.dialogUserDetailVisible = true
    },
    handleEdit(id) {
      this.loading = false
      this.resetEditData()
      this.dialogStatus = 'edit'
      getUser(id).then(response => {
        this.editData = {
          id: response.id,
          roles: response.roles.map(x => x.id),
          directivePermissions: response.directivePermissions.map(x => x.label)
        }
        this.dialogEditFormVisible = true
        this.$nextTick(() => {
          this.$refs['editForm'].clearValidate()
        })
      })
    },
    handleChangePassword(id) {
      this.loading = false
      this.resetChangePasswordTemp()
      this.changePasswordData.id = id
      this.dialogChangePasswordFormVisible = true
      this.$nextTick(() => {
        this.$refs['changeUserPasswordForm'].clearValidate()
      })
    },
    handleGetRoles(userId) {
      this.userRoleDialogData = this.users.find(
        user => user.id === userId
      ).roles
      this.dialogRoleVisible = true
    },

    handleGetPermissions(userId) {
      this.userDirectivePermissionDialogData = this.users.find(
        user => user.id === userId
      ).directivePermissions
      this.dialogPermissionsVisible = true
    },

    handleDelete(id) {
      this.$confirm(
        'This will permanently delete the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }
      )
        .then(() => {
          deleteUser(id).then(response => {
            for (const v of this.users) {
              if (v.id === id) {
                const index = this.users.indexOf(v)
                this.users.splice(index, 1)
                break
              }
            }
            this.$notify({
              title: 'Success',
              message: 'Deleted Successfully',
              type: 'success',
              duration: 2000
            })
          })
        })
        .catch(() => {
          this.$notify({
            title: 'Info',
            message: 'Delete canceled',
            type: 'info',
            duration: 2000
          })
        })
    },
    addUser() {
      this.loading = true
      this.$refs['addForm'].validate(valid => {
        if (valid) {
          addUser(this.addData)
            .then(response => {
              this.users.unshift(response)
              this.dialogFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Created Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    },

    editUser() {
      this.loading = true
      this.$refs['editForm'].validate(valid => {
        if (valid) {
          editUser(this.editData)
            .then(response => {
              const data = response
              data.roles = response.roles
              data.directivePermissions = response.directivePermissions

              for (const v of this.users) {
                if (v.id === data.id) {
                  const index = this.users.indexOf(v)
                  this.users.splice(index, 1, data)
                  break
                }
              }

              this.dialogEditFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Created Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    },
    changeUserPassword() {
      this.loading = true
      this.$refs['changeUserPasswordForm'].validate(valid => {
        if (valid) {
          changePassword(this.changePasswordData).then(response => {
            this.dialogChangePasswordFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Password Changed Successfully',
              type: 'success',
              duration: 2000
            }).finally(() => {
              this.loading = false
            })
          })
        } else {
          this.loading = false
        }
      })
    }
  }
}
</script>
