<template>
  <div class="app-container">
    <el-row :gutter="12">
      <el-col v-for="(item, index) in stores" :key="index" :span="8">
        <el-card :body-style="{ backgroundColor: '#fafafa' }" shadow="hover">
          <div class="card-content" style="padding: 14px;">
            <div class="header-content">
              <i
                class="el-icon-s-cooperation"
                style="font-size:25px;padding:5px;color:#304156"
              />
              <h3>{{ item.country }}</h3>
            </div>

            <div class="paragraph-content" style="flex:1">
              <h4 style="padding-right:5px;">City:</h4>
              {{ item.city }}
            </div>

            <div class="paragraph-content" style="flex:1">
              <h4 style="padding-right:5px;">Phone Number:</h4>
              {{ item.phoneNumber }}
            </div>
            <div class="paragraph-content" style="flex:1">
              <h4 style="padding-right:5px;">Zip Code:</h4>
              {{ item.zipCode }}
            </div>
            <div class="paragraph-content" style="flex:1">
              <h4 style="padding-right:5px;">Adress:</h4>
              {{ item.adress }}
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { getStores } from '@/api/store'
export default {
  name: 'Offices',

  data() {
    return {
      stores: []
    }
  },
  created() {
    this.getStores()
  },
  methods: {
    getStores() {
      this.listLoading = true
      getStores().then(response => {
        this.stores = response
        this.listLoading = false
      })
    }
  }
}
</script>
<style>
.header-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.paragraph-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
</style>
