<template>
  <div class="sidebar-information-container" :class="{ collapse: collapse }">
    <div v-if="!collapse" class="sidebar-information-content">
      <span
        class="sidebar-information-item"
      >Balance :
        <el-button type="primary" size="mini"> 120 $</el-button>
      </span>
      <span
        class="sidebar-information-item"
      >Last 30 day :
        <el-button type="danger" size="mini"> 30 $</el-button>
      </span>
    </div>
    <div v-else class="sidebar-information-content">
      <span class="sidebar-information-item">
        <el-button
          type="primary"
          size="mini"
          style="padding: 5px 5px !important;"
        >
          120 $</el-button>
      </span>
      <span class="sidebar-information-item">
        <el-button
          type="danger"
          size="mini"
          style="padding: 5px 5px !important;"
        >
          30 $</el-button>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Information',
  props: {
    collapse: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {}
  }
}
</script>

<style lang="scss" scoped>
.sidebar-information-container {
  // position: relative;
  width: 100%;
  min-height: 50px;
  line-height: 50px;
  background: #2b2f3a;
  text-align: center;
  overflow: hidden;

  & .sidebar-information-content {
    color: #fff;
    font-weight: 400;
    line-height: 50px;
    font-size: 14px;
    vertical-align: middle;

    & .sidebar-information-item {
      display: inline-block;
    }
  }
}
</style>
