<template>
  <b-modal
    :id="id"
    :ref="id"
    size="md"
    :hide-footer="true"
    @show="resetModal"
    @hidden="resetModal"
  >
    <b-container fluid>
      <div class="row">
        <div v-if="tab == '' || tab === 'login'" class="col-md-12">
          <div class="text-center mt-3">
            <h3 class="font-weight-bold">
              <a href="/" class="text-dark text-uppercase account-pages-logo">
                <i class="mdi mdi-alien" />Login
              </a>
            </h3>
            <!-- <p class="text-muted">Sign in to continue to Kurgo.</p> -->
          </div>
          <div class="p-3 loginregister-container">
            <el-form
              ref="loginForm"
              :model="loginData"
              :rules="loginRules"
              autocomplete="on"
              label-position="left"
            >
              <el-form-item prop="emailOrUsername">
                <span class="svg-container">
                  <svg-icon icon-class="user" />
                </span>
                <label for="emailOrUsername">Username</label>
                <el-input
                  v-model="loginData.emailOrUsername"
                  placeholder="Type Email / Username"
                  @keyup.enter.native="login"
                />
              </el-form-item>

              <el-tooltip
                v-model="capsTooltip"
                content="Caps lock is On"
                placement="right"
                manual
              >
                <el-form-item prop="password">
                  <span class="svg-container">
                    <svg-icon icon-class="password" />
                  </span>
                  <label for="password">Password</label>
                  <el-input
                    v-model="loginData.password"
                    :type="loginPasswordType"
                    placeholder="Type Password"
                    @keyup.native="checkCapslock"
                    @blur="capsTooltip = false"
                    @keyup.enter.native="login"
                  />
                  <span class="show-pwd" @click="showPwd('loginPasswordType')">
                    <svg-icon
                      :icon-class="
                        loginPasswordType === 'password' ? 'eye' : 'eye-open'
                      "
                    />
                  </span>
                </el-form-item>
              </el-tooltip>

              <div class="mt-5">
                <b-button
                  variant="info"
                  class=" btn-block btn-rounded"
                  :disabled="loading"
                  @click="login"
                >
                  Login
                  <b-spinner v-if="loading" small type="grow" />
                </b-button>
                <!-- <button
                  type="button"
                  class="btn btn-info  btn-block btn-rounded"
                  @click="login"
                >
                  Login
                </button> -->
              </div>

              <div class="mt-3">
                <button
                  type="button"
                  class="btn btn-success btn-block btn-rounded"
                  @click="
                    () => {
                      tab = 'register';
                    }
                  "
                >
                  Register
                </button>
              </div>
              <div class="mt-4 mb-0 text-center">
                <a
                  role="button"
                  class="text-dark"
                  @click="
                    () => {
                      tab = 'forgotPassword';
                    }
                  "
                >
                  <i class="mdi mdi-lock" /> Forgot your password?
                </a>
              </div>
            </el-form>
          </div>
        </div>

        <div v-if="tab === 'register'" class="col-md-12">
          <div class="text-center mt-3">
            <h3 class="font-weight-bold">
              <a href="/" class="text-dark text-uppercase account-pages-logo">
                <i class="mdi mdi-alien" />Register
              </a>
            </h3>
            <!-- <p class="text-muted">Sign Up to continue to Kurgo.</p> -->
          </div>
          <div class="p-3 loginregister-container">
            <el-form
              ref="registerForm"
              :model="registerData"
              :rules="registerRules"
              autocomplete="off"
              label-position="left"
            >
              <div>
                <el-form-item prop="userName">
                  <span class="svg-container">
                    <svg-icon icon-class="user" />
                  </span>
                  <label for="userName">Username</label>
                  <el-input
                    v-model="registerData.userName"
                    placeholder="Type Username"
                    @keyup.enter.native="register"
                  />
                </el-form-item>
                <el-form-item prop="email">
                  <span class="svg-container">
                    <svg-icon icon-class="email" />
                  </span>
                  <label for="email">Email</label>
                  <el-input
                    v-model="registerData.email"
                    placeholder="Type Email"
                    type="email"
                    @keyup.enter.native="register"
                  />
                </el-form-item>

                <el-tooltip
                  v-model="capsTooltip"
                  content="Caps lock is On"
                  placement="right"
                  manual
                >
                  <el-form-item prop="password">
                    <span class="svg-container">
                      <svg-icon icon-class="password" />
                    </span>
                    <label for="password">Password</label>
                    <el-input
                      v-model="registerData.password"
                      :type="registerPasswordType"
                      placeholder="Type Password"
                      @keyup.native="checkCapslock"
                      @blur="capsTooltip = false"
                      @keyup.enter.native="register"
                    />
                    <span
                      class="show-pwd"
                      @click="showPwd('registerPasswordType')"
                    >
                      <svg-icon
                        :icon-class="
                          registerPasswordType === 'password'
                            ? 'eye'
                            : 'eye-open'
                        "
                      />
                    </span>
                  </el-form-item>
                </el-tooltip>
                <el-tooltip
                  v-model="capsTooltip"
                  content="Caps lock is On"
                  placement="right"
                  manual
                >
                  <el-form-item prop="confirmPassword">
                    <span class="svg-container">
                      <svg-icon icon-class="password" />
                    </span>
                    <label for="confirmPassoword">Confirm Password</label>
                    <el-input
                      v-model="registerData.confirmPassword"
                      type="password"
                      placeholder="Type Password Again"
                      @keyup.native="checkCapslock"
                      @blur="capsTooltip = false"
                      @keyup.enter.native="register"
                    />
                    <!-- <span
                      class="show-pwd"
                      @click="showPwd('registerConfirmPasswordType')"
                    >
                      <svg-icon
                        :icon-class="
                          registerConfirmPasswordType === 'password'
                            ? 'eye'
                            : 'eye-open'
                        "
                      />
                    </span> -->
                  </el-form-item>
                </el-tooltip>

                <div class="mt-5">
                  <!-- <button
                    type="button"
                    class="btn btn-success btn-block btn-rounded"
                    @click="register"
                  >
                    Register
                  </button> -->

                  <b-button
                    variant="success"
                    class=" btn-block btn-rounded"
                    :disabled="loading"
                    @click="register"
                  >
                    Register
                    <b-spinner v-if="loading" small type="grow" />
                  </b-button>
                </div>
                <div class="mt-3">
                  <button
                    type="button"
                    class="btn btn-info  btn-block btn-rounded"
                    @click="() => (tab = 'login')"
                  >
                    Login
                  </button>
                </div>
              </div>
            </el-form>
          </div>
        </div>

        <div v-if="tab === 'forgotPassword'" class="col-md-12">
          <div class="text-center mt-3">
            <h3 class="font-weight-bold">
              <a href="/" class="text-dark text-uppercase account-pages-logo">
                <i class="mdi mdi-alien" />Password Reset
              </a>
            </h3>
            <!-- <p class="text-muted">Sign in to continue to Kurgo.</p> -->
          </div>
          <div class="p-3 loginregister-container">
            <el-form
              ref="resetPasswordForm"
              :model="passwordResetData"
              :rules="passwordResetRules"
              autocomplete="on"
              label-position="left"
            >
              <el-form-item prop="email">
                <span class="svg-container">
                  <svg-icon icon-class="email" />
                </span>
                <label for="email">Email</label>
                <el-input
                  v-model="passwordResetData.email"
                  placeholder="Type Email"
                />
              </el-form-item>
              <div class="row">
                <div class="col-md-6">
                  <button
                    type="button"
                    class="btn btn-info btn-rounded btn-block btn-sm"
                    @click="
                      () => {
                        tab = 'login';
                      }
                    "
                  >
                    Back
                  </button>
                </div>
                <div class="col-md-6">
                  <b-button
                    variant="success"
                    class=" btn-rounded btn-block btn-sm"
                    :disabled="loading"
                    @click="forgotPassword"
                  >
                    Next
                    <b-spinner v-if="loading" small type="grow" />
                  </b-button>
                </div>
              </div>
            </el-form>
          </div>
        </div>
      </div>
    </b-container>
    <template v-slot:modal-footer />
  </b-modal>
</template>

<script>
/**
 * Login component
 */
import { validPassword, validUsername, validEmail } from '@/utils/validate'
import { register, forgotPassword } from '@/api/auth'
export default {
  name: 'LoginRegisterModal',
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data() {
    const validateUsername = (rule, value, callback) => {
      if (!validUsername(value)) {
        callback(new Error(rule.message))
      } else {
        callback()
      }
    }
    const validateEmail = (rule, value, callback) => {
      if (!validEmail(value)) {
        callback(new Error(rule.message))
      } else {
        callback()
      }
    }
    const validatePassword = (rule, value, callback) => {
      if (!validPassword(value)) {
        callback(new Error(rule.message))
      } else {
        callback()
      }
    }
    const validateConfirmPassword = (rule, value, callback) => {
      if (!(this.registerData.password === value)) {
        callback(new Error(rule.message))
      } else {
        callback()
      }
    }
    return {
      loginData: {
        emailOrUsername: '',
        password: ''
      },
      passwordResetData: {
        email: ''
      },
      registerData: {
        userName: '',
        email: '',
        password: '',
        confirmPassword: ''
      },
      loginRules: {
        emailOrUsername: [
          {
            required: true,
            trigger: 'blur',
            message: 'Email Or Username Required'
          }
        ],
        password: [
          { required: true, trigger: 'blur', message: 'Password is required' }
        ]
      },
      passwordResetRules: {
        email: [
          { required: true, trigger: 'blur', message: 'Email Is Required' }
        ]
      },
      registerRules: {
        userName: [
          {
            required: true,
            trigger: 'change',
            message: 'Username is Required'
          },
          {
            required: true,
            message: 'Enter Valid Format',
            trigger: 'change',
            validator: validateUsername
          }
        ],
        email: [
          {
            required: true,
            trigger: 'change',
            message: 'Email is Redasdasdsadquired'
          },
          {
            required: true,
            message: 'Enter Valid Format',
            trigger: 'change',
            validator: validateEmail
          }
        ],

        password: [
          {
            required: true,
            message: 'Password is required',
            trigger: 'change'
          },
          {
            required: true,
            message: 'Enter Valid Format',
            trigger: 'change',
            validator: validatePassword
          }
        ],
        confirmPassword: [
          {
            required: true,
            message: 'Confirm Password is required',
            trigger: 'change'
          },
          {
            required: true,
            message: 'Enter Valid Format',
            trigger: 'change',
            validator: validatePassword
          },
          {
            required: true,
            message: 'Confirmed Password not equal to Password',
            trigger: 'change',
            validator: validateConfirmPassword
          }
        ]
      },
      tab: '',
      loading: false,
      loginPasswordType: 'password',
      registerPasswordType: 'password',
      // registerConfirmPasswordType: "password",
      capsTooltip: false,
      redirect: undefined,
      otherQuery: {}
    }
  },
  methods: {
    resetModal() {
      this.loginData = {
        emailOrUsername: '',
        password: ''
      }
      this.passwordResetData = {
        email: ''
      }
      this.registerData = {
        userName: '',
        email: '',
        password: '',
        confirmPassword: ''
      }
      this.tab = ''
      this.loading = false
    },
    checkCapslock(e) {
      const { key } = e
      this.capsTooltip = key && key.length === 1 && (key >= 'A' && key <= 'Z')
    },
    showPwd(prop) {
      if (this[prop] === 'password') {
        this[prop] = ''
      } else {
        this[prop] = 'password'
      }
    },
    login() {
      this.$refs.loginForm.validate(valid => {
        this.loading = true
        if (valid) {
          this.$store
            .dispatch('user/login', this.loginData)
            .then(() => {
              this.$router.push({
                path: this.redirect,
                query: this.otherQuery
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    },
    forgotPassword() {
      this.$refs.resetPasswordForm.validate(valid => {
        this.loading = true
        if (valid) {
          forgotPassword(this.passwordResetData.email)
            .then(response => {
              this.$bvModal.hide(this.id)

              this.$notify({
                title: 'Please check your Email',
                message:
                  'Password reset message sent.Please check your e-mail.',
                type: 'info',
                duration: 5000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    },
    register() {
      this.$refs.registerForm.validate(valid => {
        this.loading = true
        // this.$refs[this.id].hide();
        if (valid) {
          register(this.registerData)
            .then(response => {
              this.$bvModal.hide(this.id)

              this.$notify({
                title: 'Please check your Email',
                message:
                  'Email verification message sent.Please check your e-mail and confirm.',
                type: 'info',
                duration: 5000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
          return false
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;

.loginregister-container {
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
}
</style>
