<script>
export default {
  name: 'Testimonial'
}
</script>
<template>
  <!--START TESTIMONIAL-->
  <section id="testi" class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h1 class="section-title text-center">What they've said</h1>
          <div class="section-title-border margin-t-20" />
          <p
            class="section-subtitle text-muted text-center font-secondary padding-t-30"
          >
            The Big Oxmox advised her not to do so, because there were thousands
            of bad Commas, wild Question Marks and devious Semikoli.
          </p>
        </div>
      </div>
      <div class="row margin-t-50">
        <div class="col-lg-4">
          <div class="testimonial-box margin-t-30">
            <div class="testimonial-decs p-4">
              <div class="testi-icon">
                <i class="mdi mdi-format-quote-open display-2" />
              </div>
              <img
                src="../assets/images/testimonials/user-1.jpg"
                alt
                class="img-fluid mx-auto d-block img-thumbnail rounded-circle mb-4"
              >
              <div class="p-1">
                <h5 class="text-center text-uppercase mb-3">
                  Dennis Williams -
                  <span class="text-muted text-capitalize">Charleston</span>
                </h5>
                <p class="text-muted text-center mb-0">
                  “I feel confident imposing change on myself. It's a lot more
                  fun progressing than looking back. That's why I need to throw
                  curve balls.”
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-box margin-t-30">
            <div class="testimonial-decs p-4">
              <div class="testi-icon">
                <i class="mdi mdi-format-quote-open display-2" />
              </div>
              <img
                src="../assets/images/testimonials/user-2.jpg"
                alt
                class="img-fluid mx-auto d-block img-thumbnail rounded-circle mb-4"
              >
              <div class="p-1">
                <h5 class="text-center text-uppercase mb-3">
                  Laurie Bell -
                  <span class="text-muted text-capitalize">Worcester</span>
                </h5>
                <p class="text-muted text-center mb-0">
                  “Our task must be to free ourselves by widening our circle of
                  compassion to embrace all living creatures and the whole of
                  nature and its beauty.”
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-box margin-t-30">
            <div class="testimonial-decs p-4">
              <div class="testi-icon">
                <i class="mdi mdi-format-quote-open display-2" />
              </div>
              <img
                src="../assets/images/testimonials/user-3.jpg"
                alt
                class="img-fluid mx-auto d-block img-thumbnail rounded-circle mb-4"
              >
              <div class="p-1">
                <h5 class="text-center text-uppercase mb-3">
                  Howard Kelley -
                  <span class="text-muted text-capitalize">Lynchburg</span>
                </h5>
                <p class="text-muted text-center mb-0">
                  “I've learned that people will forget what you said, people
                  will forget what you did, but people will never forget how you
                  made them feel.”
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--END TESTIMONIAL-->
</template>
