<template>
  <div class="confirmation-container">
    <h2
      v-if="isMessageShowing"
      :class="{
        'success-message ': !hasError,
        'fail-message': hasError
      }"
    >
      {{ message }}
    </h2>

    <h6
      v-if="isMessageShowing"
      class="text-muted"
      :class="{
        'success-message ': !hasError,
        'fail-message': hasError
      }"
    >
      {{ helperMessage }}
    </h6>
  </div>
</template>

<script>
import { confirmEmail } from '@/api/auth'
export default {
  name: 'EmailConfirmation',
  data() {
    return {
      isMessageShowing: false,
      hasError: false,
      message: '',
      helperMessage: 'You Will Automatically Redirected To Login Page',
      redirect: undefined,
      otherQuery: {}
    }
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query
        console.log('query', query)
        if (query) {
          this.redirect = query.redirect
          this.otherQuery = this.getOtherQuery(query)

          if (!(this.otherQuery.userId && this.otherQuery.token)) {
            this.$router.push('/landing')
          } else {
            this.confirmEmail(this.otherQuery.userId, this.otherQuery.token)
          }
        }
      },
      immediate: true
    }
  },

  methods: {
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== 'redirect') {
          acc[cur] = query[cur]
        }
        return acc
      }, {})
    },
    confirmEmail(userId, token) {
      confirmEmail(userId, token).then(response => {
        console.log('confirmEmail -> response', response)
        if (!response.isError) {
          this.hasError = false
          this.message = 'Your Email Successfully Confirmed :)'
        } else {
          this.hasError = true
          this.message = 'Email Confirmation Failed !'
        }
        this.isMessageShowing = true

        setTimeout(() => {
          this.$router.push('/landing')
        }, 3000)
      })
    }
  }
}
</script>
<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 4s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */

 {
  opacity: 0;
}
</style>
<style lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;

.confirmation-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg;
  overflow: hidden;
}
.success-message {
  color: #eeeeee;
  font-weight: bold;
}
.fail-message {
  color: #f44336;
  font-weight: bold;
}
</style>
