<template>
  <div class="password-reset-container">
    <el-card>
      <el-form
        ref="passwordResetForm"
        :model="passwordResetData"
        :rules="passwordResetRules"
      >
        <div>
          <el-tooltip
            v-model="capsTooltip"
            content="Caps lock is On"
            placement="right"
            manual
          >
            <el-form-item prop="password">
              <span class="svg-container">
                <svg-icon icon-class="password" />
              </span>
              <label for="password">Password</label>
              <el-input
                v-model="passwordResetData.password"
                :type="passwordType"
                placeholder="Type Password"
                @keyup.native="checkCapslock"
                @blur="capsTooltip = false"
                @keyup.enter.native="passwordReset"
              />
              <span class="show-pwd" @click="showPwd('passwordType')">
                <svg-icon
                  :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'"
                />
              </span>
            </el-form-item>
          </el-tooltip>
          <el-tooltip
            v-model="capsTooltip"
            content="Caps lock is On"
            placement="right"
            manual
          >
            <el-form-item prop="confirmPassword">
              <span class="svg-container">
                <svg-icon icon-class="password" />
              </span>
              <label for="confirmPassword">Confirm Password</label>
              <el-input
                v-model="passwordResetData.confirmPassword"
                type="password"
                placeholder="Type Password Again"
                @keyup.native="checkCapslock"
                @blur="capsTooltip = false"
                @keyup.enter.native="passwordReset"
              />
            </el-form-item>
          </el-tooltip>

          <div class="mt-3">
            <b-button
              variant="info"
              class=" btn-block btn-rounded"
              :disabled="loading"
              @click="passwordReset"
            >
              Reset Password
              <b-spinner v-if="loading" small type="grow" />
            </b-button>
          </div>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { validPassword } from '@/utils/validate'
import { passwordReset, checkPasswordReset } from '@/api/auth'
export default {
  name: 'PasswordReset',
  data() {
    const validatePassword = (rule, value, callback) => {
      if (!validPassword(value)) {
        callback(new Error(rule.message))
      } else {
        callback()
      }
    }
    const validateConfirmPassword = (rule, value, callback) => {
      if (!(this.passwordResetData.password === value)) {
        callback(new Error(rule.message))
      } else {
        callback()
      }
    }
    return {
      loading: false,
      otherQuery: {},
      capsTooltip: false,
      passwordType: 'password',
      passwordResetData: {
        userId: '',
        token: '',
        password: '',
        confirmPassword: ''
      },
      passwordResetRules: {
        password: [
          {
            required: true,
            message: 'Password is required',
            trigger: 'change'
          },
          {
            required: true,
            message: 'Enter Valid Format',
            trigger: 'change',
            validator: validatePassword
          }
        ],
        confirmPassword: [
          {
            required: true,
            message: 'Confirm Password is required',
            trigger: 'change'
          },
          {
            required: true,
            message: 'Enter Valid Format',
            trigger: 'change',
            validator: validatePassword
          },
          {
            required: true,
            message: 'Confirmed Password not equal to Password',
            trigger: 'change',
            validator: validateConfirmPassword
          }
        ]
      }
    }
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query
        console.log('query', query)
        if (query) {
          this.redirect = query.redirect
          this.otherQuery = this.getOtherQuery(query)

          if (!(this.otherQuery.userId && this.otherQuery.token)) {
            this.$router.push('/landing')
          } else {
            this.checkPasswordReset(this.otherQuery.userId)
            this.passwordResetData.userId = this.otherQuery.userId
            this.passwordResetData.token = this.otherQuery.token
          }
        }
      },
      immediate: true
    }
  },

  methods: {
    showPwd(prop) {
      if (this[prop] === 'password') {
        this[prop] = ''
      } else {
        this[prop] = 'password'
      }
    },
    checkCapslock(e) {
      const { key } = e
      this.capsTooltip = key && key.length === 1 && (key >= 'A' && key <= 'Z')
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== 'redirect') {
          acc[cur] = query[cur]
        }
        return acc
      }, {})
    },
    checkPasswordReset(userId) {
      checkPasswordReset(userId).then(response => {
        if (response.isError) {
          this.$router.push('/landing')
        }
      })
    },
    passwordReset() {
      this.$refs.passwordResetForm.validate(valid => {
        this.loading = true
        // this.$refs[this.id].hide();
        if (valid) {
          passwordReset(this.passwordResetData).then(response => {
            if (!response.isError) {
              this.$notify({
                title: 'Success',
                message: 'Your password successfully reseted',
                type: 'success',
                duration: 5000
              })
            } else {
              this.$notify({
                title: 'Fail',
                message: 'Invalid Token',
                type: 'error',
                duration: 5000
              })
            }

            setTimeout(() => {
              this.$router.push('/landing')
            }, 3000)
          })
        } else {
          this.loading = false
        }
      })
    }
    // confirmEmail(userId, token) {
    //   confirmEmail(userId, token).then(response => {
    //     console.log("confirmEmail -> response", response);
    //     if (!response.isError) {
    //       this.hasError = false;
    //       this.message = "Your Email Successfully Confirmed :)";
    //     } else {
    //       this.hasError = true;
    //       this.message = "Email Confirmation Failed !";
    //     }
    //     this.isMessageShowing = true;

    //     setTimeout(() => {
    //       this.$router.push("/landing");
    //     }, 3000);
    //   });
    // }
  }
}
</script>

<style lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;

.password-reset-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg;
  overflow: hidden;

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
}
</style>
