<template>
  <div class="app-container">
    <div v-if="user">
      <el-row :gutter="20">
        <!-- <el-col :span="6" :xs="24">
          <user-card :user="user" />
        </el-col> -->

        <el-col :span="24" :xs="24">
          <el-card>
            <el-tabs v-model="activeTab">
              <el-tab-pane label="Personal Detail" name="detail">
                <detail :user="user" />
              </el-tab-pane>
              <el-tab-pane label="Account" name="account">
                <account :user="user" />
              </el-tab-pane>
            </el-tabs>
          </el-card>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Detail from './components/Detail'
import Account from './components/Account'

export default {
  name: 'Profile',
  components: { Detail, Account },
  data() {
    return {
      user: {},
      activeTab: 'detail'
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'id',
      'email',
      'avatar',
      'roles',
      'directivePermissions'
    ])
  },
  created() {
    this.getUser()
  },
  methods: {
    getUser() {
      this.user = {
        id: this.id,
        name: this.name,
        email: this.email,
        directivePermissions: this.directivePermissions,
        role: this.roles,
        avatar: this.avatar
      }
    }
  }
}
</script>
