<template>
  <div class="app-container">
    <el-card>
      <div class="filter-container ">
        <el-row :gutter="20">
          <el-col v-if="checkPermission(['parcel_list'])" :span="22" :xs="20">
            <el-row :gutter="5">
              <el-col :span="21" :xs="21">
                <el-input
                  v-model="listQuery.trackingNumber"
                  placeholder="Tracking Number"
                  style="width: 200px;"
                  class="filter-item"
                  @keyup.enter.native="getParcels"
                />
                <el-input
                  v-model="listQuery.user"
                  placeholder="Username / Name / Surname"
                  style="width: 200px;"
                  class="filter-item"
                  @keyup.enter.native="getParcels"
                />
                <el-select
                  v-model="listQuery.status"
                  style="width: 200px;"
                  class="filter-item"
                  filterable
                  clearable
                  placeholder="Status"
                  @keyup.enter.native="getParcels"
                >
                  <el-option
                    v-for="item in parcelStatuses"
                    :key="item.val"
                    :label="item.label"
                    :value="item.val"
                  />
                </el-select>

                <el-date-picker
                  v-model="listQuery.dateRange"
                  class="filter-item"
                  type="daterange"
                  align="right"
                  format="dd.MM.yyyy"
                  value-format="dd/MM/yyyy"
                  unlink-panels
                  range-separator="To"
                  start-placeholder="Start date"
                  end-placeholder="End date"
                  :picker-options="pickerOptions"
                  @keyup.enter.native="getParcels"
                />
                <el-input
                  v-model="listQuery.finNumber"
                  placeholder="Fin Number"
                  style="width: 200px;"
                  class="filter-item"
                  @keyup.enter.native="getParcels"
                />
                <el-input
                  v-model="listQuery.identificationNumber"
                  placeholder="ID Card Number"
                  style="width: 200px;"
                  class="filter-item"
                  @keyup.enter.native="getParcels"
                />
                <el-input
                  v-model="listQuery.phoneNumber"
                  placeholder="Phone Number"
                  style="width: 200px;"
                  class="filter-item"
                  @keyup.enter.native="getParcels"
                />
              </el-col>
              <el-col :span="3" :xs="3">
                <el-button
                  class="filter-item"
                  type="danger"
                  icon="el-icon-delete"
                  circle
                  @click="resetFilter"
                />
                <el-button
                  class="filter-item"
                  type="primary"
                  icon="el-icon-search"
                  circle
                  @click="getParcels"
                />
              </el-col>
            </el-row>
          </el-col>

          <el-col v-if="checkPermission(['parcel_list'])" :span="2" :xs="4">
            <el-button
              class="filter-item"
              style="margin-left: 10px; float:right;"
              type="primary"
              icon="el-icon-plus"
              round
              @click="handleAdd"
            >
              Add
            </el-button>
          </el-col>
          <el-col v-else :span="24" :xs="24">
            <el-button
              class="filter-item"
              style="margin-left: 10px; float:right;"
              type="primary"
              icon="el-icon-plus"
              round
              @click="handleAdd"
            >
              Add
            </el-button>
          </el-col>
        </el-row>
      </div>

      <el-table
        v-loading="listLoading"
        :data="parcels"
        class="table-border"
        border
        fit
        highlight-current-row
        style="width: 100%;"
      >
        <el-table-column type="expand">
          <template slot-scope="{ row }">
            <p>Category: {{ row.category ? row.category.label : "-" }}</p>
            <p>Seller: {{ row.seller ? row.seller.label : "-" }}</p>
            <p>Description: {{ row.description }}</p>
          </template>
        </el-table-column>
        <el-table-column
          v-if="checkPermission(['parcel_list'])"
          label="User"
          align="center"
        >
          <template slot-scope="{ row }">
            <el-button type="text" @click="handleUserDetail(row.user.id)">{{
              getUserLabel(row)
            }}</el-button>
            <!-- <span>{{ getUserLabel(row) }}</span> -->
          </template>
        </el-table-column>
        <el-table-column label="Tracking Number" align="center">
          <template slot-scope="{ row }">
            <span>{{ row.trackingNumber }}</span>
          </template>
        </el-table-column>
        <!-- <el-table-column label="Category" align="center">
          <template slot-scope="{ row }">
            <span>{{ row.category ? row.category.label : "-" }}</span>
          </template>
        </el-table-column> -->
        <!-- <el-table-column label="Seller" align="center">
          <template slot-scope="{ row }">
            <span>{{ row.seller ? row.seller.label : "-" }}</span>
          </template>
        </el-table-column> -->
        <el-table-column label="Price" align="center">
          <template slot-scope="{ row }">
            <span>{{
              row.productPrice + " " + (row.currency ? row.currency.label : "")
            }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Transport Price" align="center">
          <template slot-scope="{ row }">
            <span>{{
              row.parcelOption
                ? row.parcelOption.transportPrice +
                  " " +
                  row.parcelOption.currency.label
                : "-"
            }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Weight" align="center">
          <template slot-scope="{ row }">
            <span>{{ row.parcelOption ? row.parcelOption.weight : "-" }}</span>
          </template>
        </el-table-column>
        <!-- <el-table-column label="Description" align="center">
          <template slot-scope="{ row }">
            <span>{{ row.description }}</span>
          </template>
        </el-table-column> -->
        <el-table-column label="Status" align="center">
          <template slot-scope="{ row }">
            <el-button
              v-if="row.parcelStatus"
              type="text"
              @click="handleStatusTimeline(row.id)"
            >{{
              parcelStatusToObject(row.parcelStatus.statusOfParcel).label
            }}</el-button>
            <span v-else>
              -
            </span>
          </template>
        </el-table-column>
        <el-table-column width="175" label="Created Date" align="center">
          <template slot-scope="{ row }">
            <i class="el-icon-time" />
            <span>{{ row.dateCreated }}</span>
          </template>
        </el-table-column>

        <el-table-column
          label=""
          align="center"
          width="200"
          class-name="small-padding "
        >
          <template slot-scope="{ row }">
            <el-tooltip
              v-if="checkPermission(['parcel_edit']) || canEditParcel(row)"
              content="Edit"
              placement="top"
            >
              <el-button
                type="primary"
                class="m-1"
                circle
                @click="handleEdit(row.id)"
              >
                <i class="el-icon-edit" />
              </el-button>
            </el-tooltip>
            <el-tooltip
              v-permission="['parcel_edit']"
              content="Change Status"
              placement="top"
            >
              <el-button
                type="info"
                class="m-1"
                circle
                @click="handleChangeStatus(row.id)"
              >
                <i class="el-icon-refresh" />
              </el-button>
            </el-tooltip>
            <el-tooltip
              v-permission="['parcel_edit']"
              content="Set Options"
              placement="top"
            >
              <el-button
                type="warning"
                class="m-1"
                circle
                @click="handleSetOptions(row.id)"
              >
                <i class="el-icon-truck" />
              </el-button>
            </el-tooltip>
            <el-tooltip
              v-if="checkPermission(['parcel_delete']) || canDeleteParcel(row)"
              content="Delete"
              placement="top"
            >
              <el-button
                class="m-1"
                type="danger"
                circle
                @click="handleDelete(row.id)"
              >
                <i class="el-icon-delete" />
              </el-button>
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>
      <pagination
        v-show="totalCount > 0"
        :total="totalCount"
        :page.sync="listQuery.page"
        :limit.sync="listQuery.limit"
        @pagination="getParcels"
      />
    </el-card>

    <el-dialog
      :title="textMap[dialogStatus] + ' Parcel'"
      :visible.sync="dialogFormVisible"
    >
      <el-form
        ref="addForm"
        :rules="rules"
        :model="data"
        label-position="right"
        label-width="200px"
      >
        <el-form-item label="Tracking Number" prop="trackingNumber">
          <el-input
            v-model="data.trackingNumber"
            placeholder="Tracking Number"
            maxlength="256"
            show-word-limit
          />
        </el-form-item>
        <el-form-item label="Seller" prop="sellerId">
          <el-select
            v-model="data.sellerId"
            filterable
            placeholder="Seller"
            style="width:100%"
          >
            <el-option
              v-for="item in sellers"
              :key="item.id"
              :label="item.label"
              :value="item.id"
            />
          </el-select>
        </el-form-item>

        <el-form-item label="Category" prop="categoryId">
          <el-select
            v-model="data.categoryId"
            filterable
            placeholder="Category"
            style="width:100%"
          >
            <el-option
              v-for="item in categories"
              :key="item.id"
              :label="item.label"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="Quantity" prop="quantity">
          <el-input-number
            v-model="data.quantity"
            :min="1"
            style="width:100%"
          />
        </el-form-item>
        <el-form-item label="Price" prop="productPrice">
          <el-input-number
            v-model="data.productPrice"
            :precision="2"
            :step="0.01"
            :min="0.0"
            style="width:100%"
          />
        </el-form-item>
        <el-form-item label="Currency" prop="currencyId">
          <el-select
            v-model="data.currencyId"
            value-key="id"
            filterable
            placeholder="Currency"
            style="width:100%"
          >
            <el-option
              v-for="item in currencies"
              :key="item.id"
              :label="item.label"
              :value="item.id"
            />
          </el-select>
        </el-form-item>

        <el-form-item label="Description">
          <el-input v-model="data.description" type="textarea" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button
          type="primary"
          :loading="loading"
          @click="dialogStatus === 'create' ? addParcel() : editParcel()"
        >
          Confirm
        </el-button>
      </div>
    </el-dialog>

    <el-dialog title="Change Status" :visible.sync="dialogStatusFormVisible">
      <el-form
        ref="statusForm"
        :rules="statusRules"
        :model="statusData"
        label-position="right"
        label-width="200px"
      >
        <el-form-item label="Status" prop="statusOfParcel">
          <el-select
            v-model="statusData.statusOfParcel"
            filterable
            placeholder="Status"
            style="width:100%"
          >
            <el-option
              v-for="item in parcelStatuses"
              :key="item.val"
              :label="item.label"
              :value="item.val"
            />
          </el-select>
        </el-form-item>

        <el-form-item label="Description">
          <el-input v-model="statusData.description" type="textarea" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogStatusFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" :loading="loading" @click="changeStatus">
          Confirm
        </el-button>
      </div>
    </el-dialog>

    <el-dialog title="Set Options" :visible.sync="dialogOptionsFormVisible">
      <el-form
        ref="optionsForm"
        :rules="optionsRules"
        :model="optionsData"
        label-position="right"
        label-width="200px"
      >
        <el-form-item label="Weight" prop="weight">
          <el-input-number
            v-model="optionsData.weight"
            :precision="2"
            :step="0.01"
            :min="0.0"
            style="width:100%"
          />
        </el-form-item>
        <el-form-item label="Transport Price" prop="transportPrice">
          <el-input-number
            v-model="optionsData.transportPrice"
            :precision="2"
            :step="0.01"
            :min="0.0"
            style="width:100%"
          />
        </el-form-item>
        <el-form-item label="Currency" prop="transportPriceCurrencyId">
          <el-select
            v-model="optionsData.currencyId"
            value-key="id"
            filterable
            placeholder="Currency"
            style="width:100%"
          >
            <el-option
              v-for="item in currencies"
              :key="item.id"
              :label="item.label"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogOptionsFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" :loading="loading" @click="setOptions">
          Confirm
        </el-button>
      </div>
    </el-dialog>

    <el-dialog
      title="Status Timeline"
      :visible.sync="dialogStatusTimelineVisible"
    >
      <div class="block">
        <el-timeline>
          <el-timeline-item
            v-for="(activity, index) in statusTimelineData"
            :key="index"
            :color="parcelStatusToObject(activity.statusOfParcel).color"
            :timestamp="activity.dateCreated"
            placement="top"
          >
            <el-card>
              <h4>{{ parcelStatusToObject(activity.statusOfParcel).label }}</h4>
              <p>{{ activity.description }}</p>
            </el-card>
          </el-timeline-item>
        </el-timeline>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogStatusTimelineVisible = false">
          Close
        </el-button>
      </div>
    </el-dialog>
    <el-dialog title="User Detail" :visible.sync="dialogUserDetailVisible">
      <div v-if="userDetailId && dialogUserDetailVisible" class="block">
        <userDetail :user-id="userDetailId" />
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogUserDetailVisible = false">
          Close
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  addParcel,
  changeStatus,
  getParcel,
  editParcel,
  setOptions,
  deleteParcel,
  getParcels
} from '@/api/parcel'
import { getSellers } from '@/api/seller'
import { getCurrencies } from '@/api/currency'
import { getCategories } from '@/api/category'
import checkPermission from '@/utils/permission'
import permission from '@/directive/permission/index.js'
import role from '@/directive/role/index.js'
import Pagination from '@/components/Pagination'
import UserDetail from '@/views/account/components/userDetail'
export default {
  name: 'Parcels',
  components: { Pagination, UserDetail },
  directives: { permission, role },
  data() {
    return {
      loading: false,
      parcelStatuses: [
        { val: 1, label: 'Processing', color: '#9e9e9e' },
        { val: 3, label: 'Canceled', color: '#f44336' },
        { val: 4, label: 'Transporting', color: '#00bcd4' },
        { val: 5, label: 'Delivered', color: '#0bbd87' },
        { val: 6, label: 'In Office', color: '#0bbd87' }
      ],
      //  case 1:
      //   return "Processing";
      // case 2:
      //   return "Waiting Your Approve";
      // case 3:
      //   return "Canceled";
      // case 4:
      //   return "Transporting";
      // case 5:
      //   return "Delivered";
      // case 6:
      //   return "In Office";
      // default:
      //   return "Processing";
      listLoading: false,
      parcels: null,
      sellers: null,
      currencies: null,
      categories: null,
      showAdvanced: false,
      dialogStatus: '',
      dialogFormVisible: false,
      dialogStatusFormVisible: false,
      dialogOptionsFormVisible: false,
      dialogDeleteAlertVisible: false,
      dialogStatusTimelineVisible: false,
      dialogUserDetailVisible: false,

      userDetailId: null,
      totalCount: 0,

      listQuery: {
        page: 1,
        limit: 10,
        trackingNumber: '',
        identificationNumber: '',
        finNumber: '',
        phoneNumber: '',
        user: '',
        status: undefined,
        dateRange: []
      },
      statusTimelineData: null,
      statusData: {
        parcelId: undefined,
        statusOfParcel: undefined,
        description: ''
      },
      optionsData: {
        parcelId: undefined,
        weight: 0.0,
        transportPrice: 0.0,
        transportPriceCurrencyId: undefined
      },
      pickerOptions: {
        shortcuts: [
          {
            text: 'Last week',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', [start, end])
            }
          },
          {
            text: 'Last month',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
              picker.$emit('pick', [start, end])
            }
          },
          {
            text: 'Last 3 months',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
              picker.$emit('pick', [start, end])
            }
          }
        ]
      },
      data: {
        id: undefined,
        trackingNumber: '',
        sellerId: undefined,
        categoryId: undefined,
        currencyId: undefined,
        quantity: 1,
        productPrice: 0.0,
        description: ''
      },
      rules: {
        sellerId: [
          { required: true, message: 'Seller is required', trigger: 'change' }
        ],
        categoryId: [
          { required: true, message: 'Category is required', trigger: 'change' }
        ],
        currencyId: [
          { required: true, message: 'Currency is required', trigger: 'change' }
        ],
        trackingNumber: [
          {
            required: true,
            message: 'TrackingNumber is required',
            trigger: 'change'
          }
        ]
      },
      statusRules: {
        statusOfParcel: [
          { required: true, message: 'Status is required', trigger: 'change' }
        ]
      },
      optionsRules: {
        currencyId: [
          { required: true, message: 'Currency is required', trigger: 'change' }
        ]
      },
      textMap: {
        edit: 'Edit',
        create: 'Create',
        delete: 'Delete'
      }
    }
  },
  computed: {
    isCompletedUser() {
      var roles = this.$store.getters.roles
      var directivePermissions = this.$store.getters.directivePermissions
      var isDetailCompleted = this.$store.getters.isDetailCompleted

      return (
        (roles.length > 0 && directivePermissions.length > 0) ||
        isDetailCompleted
      )
    }
  },
  created() {
    this.getParcels()
    this.getSellers()
    this.getCategories()
    this.getCurrencies()
  },
  methods: {
    checkPermission,

    getUserLabel(row) {
      var username = row.user.userName
      // var name = row.user.detail
      //   ? "(" + row.user.detail.name + " " + row.user.detail.surname + ")"
      //   : "";
      return `${username}`
    },
    canDeleteParcel(row) {
      return !row.parcelStatus || row.parcelStatus.statusOfParcel === 1
    },
    canEditParcel(row) {
      return !row.parcelStatus || row.parcelStatus.statusOfParcel === 1
    },
    parcelStatusToObject(status) {
      var s = this.parcelStatuses.find(c => c.val === status)
      return s || this.parcelStatuses[0]
    },
    getParcels() {
      this.listLoading = true
      if (this.listQuery.status && this.listQuery.status === '') {
        this.listQuery.status = undefined
      }
      getParcels(this.listQuery).then(response => {
        this.parcels = response.items
        this.totalCount = response.totalCount
        this.listLoading = false
      })
    },
    getSellers() {
      this.listLoading = true
      getSellers({ isAll: true }).then(response => {
        this.sellers = response.items.map(c => {
          return { id: c.id, label: c.label }
        })

        this.listLoading = false
      })
    },
    getCurrencies() {
      this.listLoading = true
      getCurrencies().then(response => {
        this.currencies = response.map(c => {
          return { id: c.id, label: c.label }
        })
        this.data.currencyId = this.currencies[0].id
        this.$nextTick(() => {
          this.data.currencyId = this.currencies[0].id
        })(this.data)
        this.listLoading = false
      })
    },
    getCategories() {
      this.listLoading = true
      getCategories({ isAll: true }).then(response => {
        this.categories = response.items.map(c => {
          return { id: c.id, label: c.label }
        })
        this.listLoading = false
      })
    },
    resetFilter() {
      this.listQuery = {
        ...this.listQuery,
        trackingNumber: '',
        identificationNumber: '',
        finNumber: '',
        phoneNumber: '',
        user: '',
        status: undefined,
        dateRange: []
      }
    },
    resetStatusData() {
      this.statusData = {
        parcelId: undefined,
        statusOfParcel: undefined,
        description: ''
      }
    },
    resetOptionsData() {
      this.optionsData = {
        parcelId: undefined,
        weight: 0.0,
        transportPrice: 0.0,
        currencyId: undefined
      }
    },
    resetData() {
      this.data = {
        id: undefined,
        trackingNumber: '',
        sellerId: undefined,
        categoryId: undefined,
        currencyId: undefined,
        quantity: 1,
        productPrice: 0.0,
        description: ''
      }
    },
    handleUserDetail(id) {
      this.userDetailId = id
      this.dialogUserDetailVisible = true
    },
    handleStatusTimeline(id) {
      this.statusTimelineData = this.parcels.find(
        c => c.id === id
      ).parcelStatuses

      this.dialogStatusTimelineVisible = true
    },
    handleAdd() {
      this.loading = false
      this.resetData()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['addForm'].clearValidate()
      })
    },
    handleChangeStatus(id) {
      this.loading = false
      this.resetStatusData()
      this.statusData.parcelId = id
      this.dialogStatusFormVisible = true
      this.$nextTick(() => {
        this.$refs['statusForm'].clearValidate()
      })
    },
    handleSetOptions(id) {
      this.loading = false
      this.resetOptionsData()
      this.optionsData.parcelId = id
      this.dialogOptionsFormVisible = true
      this.$nextTick(() => {
        this.$refs['optionsForm'].clearValidate()
      })
    },

    handleEdit(id) {
      this.loading = false
      this.resetData()
      this.dialogStatus = 'edit'
      this.dialogFormVisible = true

      this.$nextTick(() => {
        this.$refs['addForm'].clearValidate()
        getParcel(id).then(response => {
          this.data = {
            id: response.id,
            quantity: response.quantity,
            description: response.description,
            productPrice: response.productPrice,
            trackingNumber: response.trackingNumber,
            sellerId: response.seller.id,
            categoryId: response.category.id,
            currencyId: response.currency.id
          }
        })
      })
    },
    handleDelete(id) {
      this.$confirm(
        'This will permanently delete the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }
      )
        .then(() => {
          deleteParcel(id).then(response => {
            for (const v of this.parcels) {
              if (v.id === id) {
                const index = this.parcels.indexOf(v)
                this.parcels.splice(index, 1)
                break
              }
            }
            this.$notify({
              title: 'Success',
              message: 'Deleted Successfully',
              type: 'success',
              duration: 2000
            })
          })
        })
        .catch(() => {
          this.$notify({
            title: 'Info',
            message: 'Delete canceled',
            type: 'info',
            duration: 2000
          })
        })
    },
    addParcel() {
      this.loading = true
      this.$refs['addForm'].validate(valid => {
        (this.data)
        if (valid) {
          addParcel(this.data)
            .then(response => {
              this.getParcels()
              // this.parcels.unshift(response);
              this.dialogFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Created Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    },
    changeStatus() {
      this.loading = true
      this.$refs['statusForm'].validate(valid => {
        if (valid) {
          changeStatus(this.statusData)
            .then(response => {
              this.getParcels()
              this.dialogStatusFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Status Changed Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    },
    setOptions() {
      this.loading = true
      this.$refs['optionsForm'].validate(valid => {
        if (valid) {
          setOptions(this.optionsData)
            .then(response => {
              this.getParcels()
              this.dialogOptionsFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Status Changed Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    },
    editParcel() {
      this.loading = true
      this.$refs['addForm'].validate(valid => {
        if (valid) {
          editParcel(this.data)
            .then(response => {
              // const data = response;

              // for (const v of this.parcels) {
              //   if (v.id === data.id) {
              //     const index = this.parcels.indexOf(v);
              //     this.parcels.splice(index, 1, data);
              //     break;
              //   }
              // }
              this.getParcels()
              this.dialogFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Created Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    }
  }
}
</script>
