<template>
  <div>
    <el-form>
      <el-form-item label="Username">
        <el-input v-model.trim="user.name" :disabled="true" />
      </el-form-item>
      <el-form-item label="Email">
        <el-input v-model.trim="user.email" :disabled="true" />
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          @click="handleChangePassword"
        >Change Password</el-button>
      </el-form-item>
    </el-form>
    <el-dialog
      :title="'Change Password'"
      :visible.sync="dialogChangePasswordFormVisible"
    >
      <el-form
        ref="changeUserPasswordForm"
        :rules="rules"
        :model="changePasswordData"
        label-position="right"
        label-width="200px"
      >
        <el-form-item label="Old Password" prop="oldPassword">
          <el-input
            v-model="changePasswordData.oldPassword"
            placeholder="Old Password"
            type="password"
          />
        </el-form-item>
        <el-form-item label="New Password" prop="password">
          <el-input
            v-model="changePasswordData.password"
            placeholder="New Password"
            type="password"
          />
        </el-form-item>
        <el-form-item label="Confirm New Password" prop="confirmPassword">
          <el-input
            v-model="changePasswordData.confirmPassword"
            placeholder="Confirm New Password"
            type="password"
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button
          @click="dialogChangePasswordFormVisible = false"
        >Cancel</el-button>
        <el-button
          type="primary"
          :loading="loading"
          @click="changeUserPassword()"
        >Confirm</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { changePassword } from '@/api/user'
import { validPassword } from '@/utils/validate'
export default {
  props: {
    user: {
      type: Object,
      default: () => {
        return {
          id: '',
          name: '',
          email: ''
        }
      }
    }
  },
  data() {
    const validatePassword = (rule, value, callback) => {
      if (!validPassword(value)) {
        callback(new Error(rule.message))
      } else {
        callback()
      }
    }
    const confirmPassword = (rule, value, callback) => {
      if (!(this.changePasswordData.password === value)) {
        callback(new Error(rule.message))
      } else {
        callback()
      }
    }
    return {
      loading: false,
      dialogChangePasswordFormVisible: false,
      activeTab: 'accountDetail',
      changePasswordData: {
        id: undefined,
        oldPassword: '',
        password: '',
        confirmPassword: ''
      },
      rules: {
        password: [
          {
            required: true,
            message: 'Password is required',
            trigger: 'change'
          },
          {
            message: 'Enter Valid Format',
            trigger: 'change',
            validator: validatePassword
          }
        ],
        confirmPassword: [
          {
            required: true,
            message: 'Confirm Password is required',
            trigger: 'change'
          },
          {
            message: 'Enter Valid Format',
            trigger: 'change',
            validator: validatePassword
          },
          {
            message: 'Confirmed Password not equal to Password',
            trigger: 'change',
            validator: confirmPassword
          }
        ],
        oldPassword: [
          {
            required: true,
            message: 'Old Password is required',
            trigger: 'change'
          }
        ]
      }
    }
  },
  mounted() {},
  methods: {
    resetChangePasswordTemp() {
      this.changePasswordData = {
        id: undefined,
        oldPassword: '',
        password: '',
        confirmPassword: ''
      }
    },
    submit() {
      this.$message({
        message: 'User information has been updated successfully',
        type: 'success',
        duration: 5 * 1000
      })
    },
    handleChangePassword() {
      this.loading = false
      this.resetChangePasswordTemp()
      this.changePasswordData.id = this.user.id
      this.dialogChangePasswordFormVisible = true
      this.$nextTick(() => {
        this.$refs['changeUserPasswordForm'].clearValidate()
      })
    },
    changeUserPassword() {
      this.loading = true
      this.$refs['changeUserPasswordForm'].validate(valid => {
        if (valid) {
          changePassword(this.changePasswordData)
            .then(response => {
              this.dialogChangePasswordFormVisible = false
              this.$notify({
                title: 'Success',
                message: 'Password Changed Successfully',
                type: 'success',
                duration: 2000
              })
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    }
  }
}
</script>
