<template>
  <div>
    <el-form>
      <el-form-item label="Name">
        <el-input v-model.trim="user.name" :disabled="true" />
      </el-form-item>
      <el-form-item label="Email">
        <el-input v-model.trim="user.email" :disabled="true" />
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          @click="handleChangePassword"
        >Change Password</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  props: {
    user: {
      type: Object,
      default: () => {
        return {
          id: '',
          name: '',
          email: ''
        }
      }
    }
  },
  data() {
    return {}
  },
  mounted() {},
  methods: {}
}
</script>
