<template>
  <div>
    <el-form ref="addForm" :rules="rules" :model="data">
      <el-row :gutter="20">
        <el-col :span="12" :xs="24">
          <el-form-item label="Name" prop="name">
            <el-input v-model="data.name" maxlength="64" show-word-limit />
          </el-form-item>
        </el-col>
        <el-col :span="12" :xs="24">
          <el-form-item label="Surname" prop="surname">
            <el-input v-model="data.surname" maxlength="64" show-word-limit />
          </el-form-item>
        </el-col>
        <el-col :span="12" :xs="24">
          <el-form-item label="Birthday" prop="birthday">
            <el-date-picker
              v-model="data.birthday"
              format="dd.MM.yyyy"
              value-format="dd/MM/yyyy"
              type="date"
              placeholder="Pick a day"
              style="width:100%"
            />
          </el-form-item>
        </el-col>
        <el-col :span="12" :xs="24">
          <el-form-item label="Phone Number" prop="phoneNumber">
            <el-input
              v-model="data.phoneNumber"
              maxlength="32"
              show-word-limit
            />
          </el-form-item>
        </el-col>
        <el-col :span="12" :xs="24">
          <el-form-item label="FIN" prop="finNumber">
            <el-input v-model="data.finNumber" maxlength="7" show-word-limit />
          </el-form-item>
        </el-col>
        <el-col :span="12" :xs="24">
          <el-form-item label="ID card number" prop="identificationNumber">
            <el-input
              v-model="data.identificationNumber"
              maxlength="11"
              show-word-limit
            />
          </el-form-item>
        </el-col>
        <el-col :span="12" :xs="24">
          <el-form-item label="Gender" prop="gender">
            <el-select
              v-model="data.gender"
              placeholder="Gender"
              style="width:100%"
            >
              <el-option :key="1" label="Male" :value="1" />
              <el-option :key="2" label="Female" :value="2" />
              <el-option :key="3" label="Other" :value="3" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24" :xs="24">
          <el-form-item label="Adress" prop="adress">
            <el-input
              v-model="data.adress"
              type="textarea"
              :rows="2"
              placeholder="Please input"
              maxlength="512"
              show-word-limit
            />
          </el-form-item>
        </el-col>
        <el-col :span="24" :xs="24">
          <el-button
            style="float:right;"
            type="primary"
            :loading="loading"
            @click="updateDetail()"
          >
            Confirm
          </el-button>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
import { updateDetail, getDetail } from '@/api/user'
export default {
  props: {
    user: {
      type: Object,
      default: () => {
        return {
          id: '',
          name: '',
          email: ''
        }
      }
    }
  },
  data() {
    return {
      loading: false,
      data: {
        name: '',
        surname: '',
        phoneNumber: '',
        finNumber: '',
        identificationNumber: '',
        birthday: '',
        gender: null,
        adress: ''
      },
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'change' }
        ],
        surname: [
          { required: true, message: 'Surname is required', trigger: 'change' }
        ],
        finNumber: [
          {
            required: true,
            message: 'FIN Number is required',
            trigger: 'change'
          }
        ],
        identificationNumber: [
          {
            required: true,
            message: 'Identification Number is required',
            trigger: 'change'
          }
        ],
        adress: [
          { required: true, message: 'Adress is required', trigger: 'change' }
        ],
        phoneNumber: [
          {
            required: true,
            message: 'Phone Number is required',
            trigger: 'change'
          }
        ]
      }
    }
  },
  mounted() {
    this.getDetail()
  },
  methods: {
    getDetail() {
      getDetail(this.user.id).then(response => {
        if (response) {
          this.data.name = response.name
          this.data.surname = response.surname
          this.data.phoneNumber = response.phoneNumber
          this.data.finNumber = response.finNumber
          this.data.identificationNumber = response.identificationNumber
          this.data.birthday = response.birthday
          this.data.gender = response.gender
          this.data.adress = response.adress
        }
      })
    },
    updateDetail() {
      this.loading = true
      this.$refs['addForm'].validate(valid => {
        if (valid) {
          this.data.userId = this.user.id
          updateDetail(this.data)
            .then(response => {
              this.$notify({
                title: 'Success',
                message: 'Updated Successfully',
                type: 'success',
                duration: 2000
              })
              this.getDetail()
            })
            .finally(() => {
              this.loading = false
            })
        } else {
          this.loading = false
        }
      })
    }
  }
}
</script>
